/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap");
/* End Fonts */
/* Global css */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.section_title {
  font-weight: 800;
}
.section_des {
  font-weight: 400;
}
.btn_primary {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 35px;
  background-color: #ff5400;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* End global css */
/* header */
.header_main {
  margin: 50px 0;
}
.header_content {
  display: flex;
  justify-content: space-between;
}
.logo_content {
  display: flex;
  gap: 16px;
  align-items: center;
}
.site_title {
  font-size: 36px;
  font-weight: 800;
}
.logo_span {
  color: #ff5400;
}

.menu_area {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
nav li a:hover {
  color: #ff5400;
}
/* end header */
/* banar */
.banar_bg {
  background-image: url("../Images/banar_bg.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}
.banar_body {
  padding: 100px 185px;
}
.banar_shadow {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
}
.banar_content {
  text-align: center;
}
.banar_content .section_title {
  color: #fff;
  font-size: 64px;
  margin-bottom: 24px;
}
.banar_content .section_des {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}
.banar_filter {
  text-align: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  padding: 16px;
}
form{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.bnr_input,
.select_date,
.select_type {
  padding: 16px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;  
  font-weight: 400;
  text-transform: capitalize;
}
button.btn_primary {
	display: flex;
	gap: 10px;
	align-items: center;
}
/* end banar */
/* popular tours */
.popular_tours{
    margin-top: 100px;
}
.tours_container{
    display: flex;
    gap: 50px;
}
.tours_content{
    width: 50%;
}
.tours_content *{
    margin-bottom: 24px;
}
.tours_content .section_des ,.tours_content li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
}
.tours_content .section_title{
    color: #131318;
    font-size: 40px;
}
.tours_image{
    width: 50%;
}
.tours_image img{
    border-radius: 16px;
    width: 100%;
}
.tours_content li {
	margin-left: 20px;
}
/* end popular tours */