@media only screen and (max-width: 600px) {
    .header_main{
        margin: 10px 0;
    }
    .header_content {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    nav {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
      }

      .banar_main,.popular_tours,.destination,.choose_main,.promo,.newsletter_main{
        padding: 0 20px;
      }
     
      .banar_body {
        padding: 50px 60px;
      }
      .banar_content .section_title {
        font-size: 30px;
        margin-bottom: 10px;
      }
      .banar_content .section_des {
        font-size: 12px;
        margin-bottom: 10px;
      }
      form{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    
    .tours_container{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .tours_content{
        width: 100%;
    }
    .tours_image{
        width: 100%;
    }
    .destination_content{
        padding: 0px 10px;
    }
    .row1 {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
      }
      .row2 {
        margin-top: 24px;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);
      }
      .row3 {
        margin-top: 24px;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);
      }
      .choose_container {
        text-align: center;
        padding: 0 10px;
      }
      .choose_content{
        margin-bottom: 24px;
      }
      .row {
        display: block;
      }
      .promo_content{
        display: flex;
        flex-direction: column;
      }
      .subscribe_body {
	    display: flex;
      flex-direction: column;
	    gap: 24px;
}
}